@font-face {
    font-family: "RotondaBold";
    src: url("../fonts/RotondaBold.svg#RotondaBlod") format("svg"),
         url("../fonts/RotondaBold.ttf") format("truetype"),
         url("../fonts/RotondaBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: "RotondaMedium";
    src: url("../fonts/RotondaMedium.svg#RotondaMedium") format("svg"),
         url("../fonts/RotondaMedium.ttf") format("truetype"),
         url("../fonts/RotondaMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/') format('woff'),
        url('../fonts/') format('truetype'),
        url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype'),
        url('Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto Slab';
    color: #324950;
    background-color: #EDEDED;
}

h1, h2, h3 {
    font-family: 'RotondaBold';
}

button {
    font-family: "RotondaMedium";
    cursor: pointer;
}

input:focus, button:focus, textarea:focus {
    outline: none;

}

.menu {
    padding-top: 50px;
}
header {
    padding-top: 19px;
}

li {
    list-style-type: none;
}


.redText {
    color: #CF2333;
    font-weight: normal;
}

.logo img {
    height: 100px;
}

.menu__item {
    margin: 0 13px;
}

.menu__item a {
    font-size: 18px;
    color: #324950;
    font-family: 'RotondaMedium';
}

.openMenu {
    visibility: hidden;
}

.closeMenu {
    display: none;
    width: 25px;
    margin-right: 10px;
    margin-top: 5px;
}

.menuUp {
    display: block;
}


.active {
    z-index: 3;
    position: absolute;
    background-color: #324950; 
    width: 100%;
    right: 0;
}

.active a {
    color: #fff;
}

.active li {
    padding-bottom: 30px;
}

.active.openMenu {
    display: none;
}


.search {
    border: 1px;
    float: right;
    padding-top: 20px;
}


.search input[type=text] {
    font-size: 17px;
    border: none;
    float: left;
    background: transparent;
    height: 27px;
    border-bottom: 1px solid #324950;
    margin-left: 15px;

  }
  

 .search button {
    float: left;
    background: transparent;
    border: none;
    font-size: 17px;
    border-bottom: 1px solid #324950;
    height: 27px;
  }

  .search img {
      margin-top: -5px;
  }



.footerFirst {
    background-color: #2D3F45;
    padding-top: 5px;
}

.footerFirst .row {
    margin-top: 10px;
}

.footer__item {
    margin: 0 13px;
    margin-top: 5px;
}

.footer__item a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.footer__link {
    margin: 0 13px;
}

.crosses {
    padding-top: 20px;
}

.greenText {
    color: #57984C;
}

.footer__menu {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}


@media (max-width: 1060px){
    .footer__link {
        margin: 0 5px;
    }
}



@media (max-width: 991px){
    .logo {
        display: flex;
        justify-content: center;
    }
    .search {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu__item {
        margin-top: -25px;
    }

    .footer__item {
        margin: 0 5px;
    }
    .footer__link {
        margin-bottom: 15px;
    }
    .openMenu {
        visibility: visible;
    }
    .menuUp{
        display: none;
    }


}
@media (max-width: 767px){
    .menu__item a {
        font-size: 16px;
    }
    .menu__item {
        margin: 0 5px;
    }
    .footer__item a {
        font-size: 14px;
    }
    .footer__menu {
        display: block;
        margin-left: -20px;
        text-align: center;
        }
    .search {
        margin-bottom: -30px;
    }
}
/* @media (max-width: 575px){
    .burgerMenu {
        margin-right: 25px;
    }
} */
@media (max-width: 403px){
    /* .burgerMenu {
        margin-right: 25px;
    } */
    .search input {
        width: 70%;
    }
}